{% extends 'base.html.twig' %}

{% block body %}
<img class="img_philippe img-thumbnail col-lg-offset-2" src="{{ asset("images/Photos page d'acceuil/Photo Philippe.png") }}" />
<div style="width:50%; margin:auto; border : 1px solid black; margin-top:20px;">
<h1 class="text-center">N'attendez plus</h1>
<h2 class="text-center">Ne pensez pas que ceci n'arrive qu'aux autres</h2>
</div>
{% endblock %}
